.student-profile-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.student-profile-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.student-profile-h1 {
    color: var(--color-primary);
    font-size: 2rem;
}
.separator {
    border: none;
    border-top: 2px solid #ddd;
    margin: 20px 0;
}

/* Profile layout */
.student-profile-details {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Add more space between elements */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow-y: auto;
}

.profile-header {
    display: flex;
    align-items: center;
}



.profile-info h2 {
    font-size: 2em;
    margin-bottom: 5px;
}

.profile-info p {
    font-size: 1.2em; /* Slightly smaller for a cleaner look */
    color: #666;
}

/* Editable fields */
.editable-fields {
    width: 100%;
    margin-bottom: 20px;
}

.editable-fields label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px; /* Increased spacing for clarity */
    font-size: 1.1em; /* Larger font for better readability */
}

.editable-fields input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    background-color: #f5f5f5; /* Light background for inputs */
}

/* Edit and Back buttons */
.student-profile-actions {
    margin-top: 30px; /* More space at the top */
    display: flex;
    gap: 20px;
}

.student-profile-actions button {
    padding: 12px 25px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.student-profile-actions button:hover {
    background-color: #2980b9;
}


