.course-detail {
  display: flex;
  height: 100vh; /* Full height */
}

.dashboard-content {
  display: flex;
  width: 100%;
}

.content-area {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.course-detail-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.top-section {
  display: flex;
  align-items: flex-start; /* Align items at the start */
  margin-bottom: 20px; /* Space below the top section */
}

.course-image {
  flex: 1; /* Take up one part of the flex container */
}

.course-image img {
  width: 100%; /* Responsive image */
  max-width: 300px; /* Max width for better sizing */
  height: 300px; /* Maintain aspect ratio */
  border-radius: 8px; /* Rounded corners */
  padding-top: 20px;
}

.course-info {
  flex: 2; /* Take up two parts of the flex container */
  padding-left: 20px; /* Space between image and info */
}

.enrolled-class-details {
  margin-top: 20px; /* Space above class details */
}

.button-container {
  margin-top: 20px; /* Space above buttons */
  display: flex;
  gap: 10px; /* Space between buttons */
}

.action-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary); /* Button color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #338796; /* Darker shade on hover */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Overlay color */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-close-button, .modal-confirm-button {
  margin: 10px; /* Space between buttons */
}
