/* General page layout */
.scheduled-tests-page {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex: 1; /* Allows it to fill the remaining space next to the sidebar */
    padding: 20px;
  }
  
  /* Page heading */
  .page-heading {
    font-size: 2em;
    color: var(--color-primary);
    margin-bottom: 20px;
  }
  
  /* Table styling */
  .tests-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tests-table th,
  .tests-table td {
    border: none;
    padding: 10px;
    text-align: left;
  }
  
  .tests-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .tests-table tr {
    border-bottom: 1px solid #ddd; /* Grey line separator */
  }
  
  .tests-table tr:last-child {
    border-bottom: none; /* No border for the last row */
  }
  
  /* Button styling */
  .take-test-button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .take-test-button:hover {
    background-color: var(--color-primary-dark);
  }
  