.moderator-dashboard-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

/* Badge section styling */
.moderator-badge-section {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;
	background-color: white;
}

.moderator-content-area-h2{
  align-self: center;
  color: var(--color-primary);
}

.moderator-content-area {
  padding: 20px;
  display: flex;
  flex-direction: column;

}

/* Badge card styles */
.moderator-badge-card {
	width: 180px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: transform 0.3s ease;
}

.moderator-badge-card:hover {
	transform: translateY(-10px);
	/* Adds hover effect */
}

.moderator-badge-image {
	width: 100px;
	height: auto;
	margin-bottom: 10px;
}

.moderator-badge p {
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
	.moderator-badge-card {
		width: 150px;
		/* Adjust card width for smaller screens */
	}
}
