/* src/app/pages/LecturerDashboard/LecturerDashboard.css */
.lecturer-dashboard-container {
	display: flex;
	flex-direction: row;
}

.lecture-dashboard-content-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 20px;
}

.lecture-dashboard-courses-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 25px;
}

.lecture-dashboard-h1 {
	color: var(--color-primary);
}
