/* src/app/pages/LecturerDashboard/LecturerDashboard.css */
.lecturer-dashboard {
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-content {
    display: flex;
    height: 100vh;
  }
  
  .content-area {
    flex: 1;
    padding: 20px;
  }
  
  .courses-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  h1 {
    font-size: var(--heading-font-size);
    color: var(--primary-color);
  }
  