.course-card {
    background-color: var(--color-background);
    border: 1px solid var(--color-border-light);
    border-radius: var(--border-radius);
    padding: var(--spacing-medium);
    text-align: center;
  }
  
  .course-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: var(--spacing-small);
  }
  
  .course-card h3 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary-dark);
  }
  