.data-capture-dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.data-capture-content-area {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.data-capture-content-area h2 {
    font-size: 2rem;
    color: #3498db;
    margin: 20px;
}

.data-capture-about-course {
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
}

.primary-add-question-button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.primary-upload-dump-button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.primary-button:hover {
    background-color: #2980b9;
}

.image-container {
    margin-top: 30px;
}

.image-container img {
    max-width: 50%;
    height: auto;
}
@media (max-width: 768px) {
    .badge-card {
        flex: 1 0 45%; /* Take more space on smaller screens */
    }
}
