.upload-dumps-dashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.upload-dumps-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.upload-dumps-h2 {
    color: #4a90e2;
    font-size: 2rem;
    margin: 20px;
}

.upload-dump-input-area {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}

.file-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.upload-dump-file-label {
    font-size: 16px;
    color: #4a4a4a;
    margin-bottom: 20px;
}

.upload-dump-action-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.upload-dump-quit-button, .upload-dump-submit-button {
    width: 150px;  /* Set a fixed width for both buttons for consistency */
    padding: 18px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.upload-dump-quit-button {
    background-color: #e74c3c;
    color: #fff;
}

.upload-dump-submit-button {
    background-color: #4a90e2;
    color: #fff;
}

.upload-dump-quit-button:hover {
    background-color: #c0392b;
}

.upload-dump-submit-button:hover {
    background-color: #357ab8;
}

.upload-dump-dropdown-input {
    padding: 15px;
    width: 50%;
    margin-bottom: 50px;
}