/* Ensure the entire page uses Flexbox for layout */
.add-user-page {
  display: flex;
}

/* Sidebar styling */
.sidebar {
  background-color: var(--color-primary); /* Use primary color */
  width: 250px;
  height: 100vh;
  padding: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  
}

.logo {
  width: 100px;
  margin-bottom: var(--spacing-large);
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: var(--spacing-small) 0;
  font-size: var(--font-size-body);
}

.sidebar nav ul li a {
  text-decoration: none;
  color: var(--color-background); /* Change to white */
}

.user-info {
  margin-top: auto;
  text-align: center;
  color: var(--color-background); /* Change to white */
}

/* Main content styling */
.main-content {
  margin-left: var(--spacing-medium);
  padding: var(--spacing-medium);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* Changed to flex-start */
}

h1 {
  color: var(--color-primary-dark);
  margin-bottom: var(--spacing-large); /* Space between title and form */
}

/* Form styling */
.add-user-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--spacing-large); /* Space between the fields */
  width: 100%;
  max-width: 600px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: var(--spacing-small); /* Space between label and input */
  font-size: var(--font-size-small);
}

.form-group input,
.form-group select {
  padding: var(--spacing-small);
  border: 1px solid var(--color-border-light); /* Use border color variable */
  border-radius: var(--border-radius);
  font-size: var(--font-size-body);
  margin-bottom: var(--spacing-medium);
}

.upload-btn, .add-user-btn {
  background-color: var(--color-primary);
  color: var(--color-background);
  padding: var(--spacing-small) var(--spacing-large);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-top: var(--spacing-medium); /* Add space above buttons */
}

.upload-btn {
  grid-column: span 2; /* Spans both columns */
  justify-self: center;
}

/* Center Add User button */
.add-user-btn {
  margin-left: 70%;
  padding: var(--spacing-medium) var(--spacing-large); /* Increased padding */
  width: 100%; /* Ensures the button spans full width */
  height: 50px; /* Adjust height as needed */
}

.upload-btn i {
  margin-left: var(--spacing-small); /* Space between text and icon */
}

/* Style the upload button */
.upload-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
