/* AdminLanding.css */
.admin-landing {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.Admin-body {
	flex: 1;
	padding: 20px;
	margin-left: 250px; /* Adjust based on your sidebar width */
	
	padding-top: 250%;
}
