/* Container layout */
.edit-course-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}


/* Main content styling */
.edit-course-content {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

/* Center the heading */
.edit-course-content-h1 {
  color: var(--color-primary); 
  font-size: 2rem;
  text-align: center;
}

.edit-course-content-display {
  display: flex;
  flex-direction: row;
}
