.edit-class-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.edit-class-content {
	flex: 1;
	padding: 20px;
}

.edit-class-content-body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.edit-class-content h2 {
	color: var(--color-primary);
	font-size: 2rem;
	text-align: center;
	margin-bottom: 20px;
}

.edit-class-content-body-half1 {
	flex: 1;
	height: 500px;
	overflow-y: auto;
	padding: 10px;
	border: 1px solid var(--border-color);
	border-radius: 6px;
	background-color: var(--form-background);
	overflow-x: hidden;
}
.edit-class-content-body-half2 {
	flex: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.edit-class-form{
	width: 90%;
	padding: 40px;
}

.edit-class-form-group {
	margin-bottom: 25px;
	position: relative;
}
.edit-class-lecturer-suggestions {
	list-style: none;
	padding: 0;
	margin: 5px 0;
	border: 1px solid #ccc;
	max-height: 200px;
	overflow-y: auto;
	position: absolute;
	z-index: 1000;
	background-color: #fff;
	width: calc(100% - 40px); /* To fit within the form's padding */
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
  }
  
  .edit-class-lecturer-suggestions li {
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
	transition: background-color 0.2s ease-in-out;
  }
  
  .edit-class-lecturer-suggestions li:hover {
	background-color: #f1f1f1;
  }
  
  .edit-class-lecturer-suggestions li:last-child {
	border-bottom: none;
  }
  
  .edit-class-form-group input[type="search"] {
	position: relative;
	z-index: 999;
	padding: 0.5rem;
	border: 1px solid #ced4da;
	border-radius: 4px;
	width: 100%;
	font-size: 1rem;
	box-sizing: border-box;
  }
  
  .edit-class-form-group input[type="search"]:focus {
	border-color: #007bff;
	outline: none;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
  }

.edit-class-form-group textarea {
	width: 100%;
	padding: 14px;
	border: 2px solid #ccc;
	border-radius: 8px;
	font-size: 1rem;
	background-color: #f7f7f7;
	transition: border 0.3s ease, background-color 0.3s ease;
	color: #333;
	box-sizing: border-box;
	resize: none;
	min-height: 150px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
	color: #333;
	font-size: 1.1rem;
}

input[type="text"],
input[type="date"] {
	width: 100%;
	padding: 14px;
	border: 2px solid #ccc;
	border-radius: 8px;
	font-size: 1rem;
	background-color: #f7f7f7;
	transition: border 0.3s ease, background-color 0.3s ease;
	color: #333;
	box-sizing: border-box;
}

input[type="text"]:focus,
input[type="date"]:focus {
	border-color: #4d9fce;
	background-color: #fff;
	outline: none;
}


.edit-class-submit-button {
	display: block;
	width: 100%;
	padding: 16px;
	background-color: var(--color-primary);
	color: white;
	border: none;
	border-radius: 8px;
	font-size: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
}
.edit-class-cancel-button{
	display: block;
	width: 100%;
	padding: 16px;
	background-color: red;
	color: white;
	border: none;
	border-radius: 8px;
	font-size: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
}


.edit-class-submit-button:hover {
	background-color: #357bb5;
	transform: translateY(-2px);
}
.edit-class-cancel-button:hover {
	background-color: #ce2c27;
	transform: translateY(-2px);
}

.edit-class-cancel-button-div {
	width: 60%;
  padding-top: 50px;
}

input::placeholder {
	color: #aaa;
}

input[type="text"]::placeholder,
input[type="date"]::placeholder {
	color: #888;
}


/*LEFT VIEW CSS*/
.edit-class-card {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	text-align: center;
	margin: 20px auto;
	width: 50%;
}
.remove-underline {
	text-decoration: none;
}

.edit-class-card:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.edit-class-read-only-input {
	background-color: #e9ecef;
	color: #6c757d;
	border: 1px solid #ced4da;
	padding: 0.5rem;
	border-radius: 4px;
	font-size: 1rem;
}

.edit-class-search-input {
	padding: 0.5rem;
	border: 1px solid #ced4da;
	border-radius: 4px;
	width: 100%;
	font-size: 1rem;
}

.edit-class-search-input:focus {
	border-color: #007bff;
	outline: none;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

@media (max-width: 768px) {
	.form-container {
		padding: 20px;
	}

	form {
		padding: 30px;
	}

	.edit-class-submit-button {
		font-size: 18px;
	}
}