.indipendent-student-course-details-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.indipendent-student-course-details-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.indipendent-student-course-details-h2 {
  font-size: 2rem;
  color: #2c97de;
  margin: 20px;
  align-self: center;
}

.dashboard-content {
  display: flex;
  width: 100%;
}

.content-area {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}



.indipendent-student-course-details-information-view {
  display: flex;
  flex: 1;
  align-items: flex-start; /* Align items at the start */
  margin-bottom: 20px; /* Space below the top section */
}

.indipendent-student-course-details-course-image {
  width: 100%; /* Responsive image */
  max-width: 300px; /* Max width for better sizing */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Rounded corners */
  padding-top: 20px;
}

.independent-student-course-info {
  flex: 1;
  padding-left: 20px;
}


.indipendent-student-course-details-button-div {
  flex: 1;
}

.indipendent-student-course-details-button {
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary); /* Button color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 40%;
}

.indipendent-student-course-details-button:hover {
  background-color: #145da0; /* Darker shade on hover */
}
