.indipendent-student-write-test-container {
	display: flex;
    flex-direction: row;
    height: 100vh;
}

.indipendent-student-write-test-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
	overflow-y: auto;
}

.indipendent-student-write-test-h2 {
    font-size: 2rem;
    color: #2c97de;
    margin: 20px;
}

.indipendent-student-write-test-question-section {
    width: 90%;
	padding: 20px;
}

.indipendent-student-write-test-question-section h3 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.indipendent-student-write-test-question-section p {
	font-size: 1.2rem;
	margin-bottom: 15px;
}


.indipendent-student-write-test-button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s;
    margin-top: 3rem;
}

.indipendent-student-write-test-button:hover {
	background-color: #0056b3;
}

.indipendent-student-write-test-button:disabled {
	background-color: #cccccc;
	cursor: not-allowed;
}



.indipendent-student-write-test-modal {
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.indipendent-student-write-test-modal-content {
	background-color: #ffffff;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 8px;
	width: 90%;
	max-width: 600px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
}

.indipendent-student-write-test-modal-close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.indipendent-student-write-test-modal-close:hover,
.indipendent-student-write-test-modal-close:focus {
	color: #000;
	/* Darker color on hover */
	text-decoration: none;
	cursor: pointer;
}