/* General layout */
.independent-student-courses {
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-content {
    display: flex;
  }
  
  .content-area {
    flex-grow: 1;
    padding: 20px;
  }
  
  /* Enrolled course section */
  .enrolled-course-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  
  .enrolled-course-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  
  .course-description {
    flex: 2;
  }
  
  .course-description h3 {
    margin-bottom: 10px;
  }
  
  .course-image {
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .course-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Explore courses section */
  .explore-courses-title {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .courses-grid {
    display: flex;
    gap: 20px;
  }
  
  .course-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }  

  .progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    margin: 10px 0;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 10px;
    background-color: #76c7c0; /* Change color as needed */
    transition: width 0.5s ease;
  }
  
  .progress-container p {
    text-align: center;
    margin-top: 5px;
  }

  /* Continue button styling */
.continue-button-container {
    text-align: center; /* Center the button */
    margin-top: 20px;  /* Space above the button */
  }
  
  .continue-button {
    background-color: transparent; /* Transparent background */
    border: 2px solid #2C97DE; /* Border color matching the progress bar */
    border-radius: 10px; /* Round shape */
    color: #2C97DE; /* Text color matching the border */
    padding: 10px 20px; /* Padding for size */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Transition effects */
  }
  
  .continue-button:hover {
    background-color: #338796; /* Change background on hover */
    color: #4A4A4A; /* Change text color on hover */
  }
  